@model LoginViewModel
@{
  ViewData["Title"] = "Sign in to YumYum Now"; 
}
<link
	rel="stylesheet"
	href="~/css/Authentication.css"
	asp-append-version="true"
/>
<div class="background-panel">
	<div class="logo">
		<img src="~/Image/Burger.svg" alt="Burger Image" class="background-image" />
		<label class="company-text" for="logoName">YumYum Now</label>
	</div>
	<div class="login-container">
		<div class="form-group">
			<label class="label-text" for="email">Phone number or email:</label>
			<div class="email-input-container">
				<input
					type="text"
					id="email"
					name="email"
					required
					minlength="10"
					maxlength="30"
					class="custom-input"
				/>
				<div class="error-message">
					<span id="email-error"></span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="label-text" for="password" id="password-label"
				>Password:</label
			>

			<div class="password-input-container">
				<input
					type="password"
					id="password"
					name="password"
					required
					minlength="8"
					maxlength="16"
					class="custom-input"
				/>
				<span id="password-error" class="error-message"></span>
			</div>
		</div>
		<button class="custom-button">Sign in</button>

		<div>
			<a
				class="registration-text"
				asp-area=""
				asp-controller="Registration"
				asp-action="Registration"
			>
				Don't have an account? Register
			</a>
		</div>
		<div>
			<a class="registration-text" href="/password_reset"> Forgot password? </a>
		</div>
	</div>
</div>

<script src="~/js/Authentication.js"></script>
