@{ ViewData["Title"] = "Registration"; }
<link
	rel="stylesheet"
	href="~/css/Authentication.css"
	asp-append-version="true"
/>

<div class="form-container-space"></div>
<div class="form-container">
	<div class="background-panel">
		<partial name="../Shared/Components/_Logo.cshtml" />
		@* <div class="logo">
			<img
				src="~/Image/Burger.svg"
				alt="Burger Image"
				class="background-image"
			/>
			<label class="company-text" for="logoName">YumYum Now</label>
		</div> *@
		<div class="validate-panel">
			<div class="error-message">
				<span id="emailOrPhone-error"></span>
			</div>
		</div>
		<div class="login-container">
			<div class="form-group">
				<label class="label-text" for="emailOrPhone" id="emailOrPhone-label"
					>Email or Phone number:</label
				>
				<div class="email-or-phone-input-container">
					<input
						type="text"
						id="emailOrPhone"
						name="emailOrPhone"
						required
						minlength="10"
						maxlength="30"
						class="custom-input"
					/>
				</div>
			</div>

			<button class="custom-button" onclick="validateData()">Send code</button>
		</div>
	</div>
</div>
<script src="~/js/Authentication.js?v=@DateTime.Now.Ticks"></script>
