@{
  Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
</head>

<body>
  <div class="container">
    <div class="left-panel">
      <div class="tabs">
        <button id="profileButton" class="button-panel active">Profile</button>
        <button id="confidentialityButton" class="button-panel">Confidentiality</button>
        <button id="orderHistoryButton" class="button-panel">Order History</button>
      </div>
    </div>
</body>
<script src="~/js/Profile.js"></script>
</html>