@{
    ViewData["Title"] = "ForgotPassword";
}
<link rel="stylesheet" href="~/css/LoginStyle.css" asp-append-version="true" />

<div class="form-container-space"></div>
<div class="form-container">
    <div class="background-panel">
        <div class="logo">
            <img src="~/Image/Burger.svg" alt="Burger Image" class="background-image">
            <label class="company-text" for="logoName">YumYum Now</label> <!-- Moved YumYum Now label here -->
            <label class="label-text">Registration:</label>
        </div>
        <div class="login-container">
            <div class="form-group">
                <label class="label-text" for="email">Phone number or email:</label>
                <div class="email-input-container">
                    <input type="text" id="email" name="email" required minlength="10" maxlength="30" 
                        class="custom-input">
                    <span id="email-error" class="error-message"></span>
                </div>
            </div>

            <!-- Размещаем кнопку под полями ввода -->
            <button class="custom-button">Send code</button>
        </div>
    </div>
</div>
<script src="~/js/LoginFunction.js?v=@DateTime.Now.Ticks"></script>
