@{
    ViewData["Title"] = "Home Page";
}
<head>
	@* <style>
		footer .main-footer {
			padding: 20px 0;
			background: #212121;
			color: #ffa300;
		}
		.btn:hover,
		.btn:focus,
		.btn.active {
			background: #000000;
			color: #fff;
			-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
			-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
			-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
			box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
			-webkit-transition: all 250ms ease-in-out 0s;
			-moz-transition: all 250ms ease-in-out 0s;
			-ms-transition: all 250ms ease-in-out 0s;
			-o-transition: all 250ms ease-in-out 0s;
			transition: all 250ms ease-in-out 0s;
		}
	</style> *@
</head>
<form id="form1" runat="server">
	<div>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img
						class="first-slide"
						src="Images/shaverma.jpg"
						alt="First slide"
					/>
				</div>
				<div class="item">
					<img
						class="second-slide"
						src="Images/Slider2.svg"
						alt="Second slide"
					/>
				</div>
				<div class="item">
					<img class="third-slide" src="Images/Slider3.svg" alt="Third slide" />
				</div>
			</div>
		</div>
	</div>
</form>
<div class="wrapper">
	<div class="containerr">
		<div class="button-containerr">
			<button onclick="scrollToElement('shawarmaText')">Shawarma</button>
			<div class="test-rectangle"></div>
			<button onclick="scrollToElement('kebabText')">Kebab</button>
			<div class="test-rectangle"></div>
			<button onclick="scrollToElement('tacoText')">Taco</button>
			<div class="test-rectangle"></div>
			<button onclick="scrollToElement('burritosText')">Burritos</button>
			<div class="test-rectangle"></div>
			<button onclick="scrollToElement('burgersText')">Burgers</button>
			<div class="test-rectangle"></div>
			<button onclick="scrollToElement('dessertText')">Dessert</button>
			<div class="test-rectangle"></div>
			<button onclick="scrollToElement('drinksText')">Drinks</button>
		</div>
	</div>
</div>
<div>
	<p class="food-name" id="shawarmaText">Shawarmas</p>
	<div class="food-rectangle"></div>
	<div class="image-container">
		<div class="image-wrapper">
			<img src="Images/shaverma.jpg" alt="Image 1" />
			<div class="decription-container">
				<p class="description-text">
					Какой-то текст с составом блюда: артем дебил артем дебил артем дебил
					артем дебил артем дебил артем дебил артем дебил артем дебил артем
					дебил артем дебил артем дебил артем дебил артем дебил артем дебил
				</p>
			</div>
			<div class="buttons-container">
				<button class="gram-button" data-grams="300">300g</button>
				<button class="gram-button" data-grams="400">400g</button>
				<button class="gram-button" data-grams="500">500g</button>
			</div>
		</div>
		<div class="image-wrapper">
			<img src="Images/shaverma.jpg" alt="Image 2" />
		</div>
		<div class="image-wrapper">
			<img src="Images/shaverma.jpg" alt="Image 3" />
		</div>
	</div>
	<div class="image-container">
		<div class="image-wrapper">
			<img src="Images/shaverma.jpg" alt="Image 4" />
		</div>
		<div class="image-wrapper">
			<img src="Images/shaverma.jpg" alt="Image 5" />
		</div>
		<div class="image-wrapper">
			<img src="Images/shaverma.jpg" alt="Image 6" />
		</div>
	</div>
	<p class="food-name" id="kebabText">Kebabs</p>
	<div class="food-rectangle"></div>
	<div class="image-container">
		<div class="image-wrapper">
			<img src="Images/Kebab.jpg" alt="Image 1" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Kebab.jpg" alt="Image 2" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Kebab.jpg" alt="Image 3" />
		</div>
	</div>
	<div class="image-container">
		<div class="image-wrapper">
			<img src="Images/Kebab.jpg" alt="Image 4" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Kebab.jpg" alt="Image 5" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Kebab.jpg" alt="Image 6" />
		</div>
	</div>
	<p class="food-name" id="tacoText">Tacos</p>
	<div class="food-rectangle"></div>
	<div class="image-container">
		<div class="image-wrapper">
			<img src="Images/Taco.jpg" alt="Image 1" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Taco.jpg" alt="Image 2" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Taco.jpg" alt="Image 3" />
		</div>
	</div>
	<div class="image-container">
		<div class="image-wrapper">
			<img src="Images/Taco.jpg" alt="Image 4" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Taco.jpg" alt="Image 5" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Taco.jpg" alt="Image 6" />
		</div>
	</div>
	<p class="food-name" id="burritosText">Burritos</p>
	<div class="food-rectangle"></div>
	<div class="image-container">
		<div class="image-wrapper">
			<img src="Images/Burito.jpg" alt="Image 1" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Burito.jpg" alt="Image 2" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Burito.jpg" alt="Image 3" />
		</div>
	</div>
	<div class="image-container">
		<div class="image-wrapper">
			<img src="Images/Burito.jpg" alt="Image 4" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Burito.jpg" alt="Image 5" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Burito.jpg" alt="Image 6" />
		</div>
	</div>
	<p class="food-name" id="burgersText">Burgers</p>
	<div class="food-rectangle"></div>
	<div class="image-container">
		<div class="image-wrapper">
			<img src="Images/Burger.jpg" alt="Image 1" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Burger.jpg" alt="Image 2" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Burger.jpg" alt="Image 3" />
		</div>
	</div>
	<div class="image-container">
		<div class="image-wrapper">
			<img src="Images/Burger.jpg" alt="Image 4" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Burger.jpg" alt="Image 5" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Burger.jpg" alt="Image 6" />
		</div>
	</div>
	<p class="food-name" id="dessertText">Desserts</p>
	<div class="food-rectangle"></div>
	<div class="image-container">
		<div class="image-wrapper">
			<img src="Images/Desert.jpg" alt="Image 1" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Desert.jpg" alt="Image 2" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Desert.jpg" alt="Image 3" />
		</div>
	</div>
	<div class="image-container">
		<div class="image-wrapper">
			<img src="Images/Desert.jpg" alt="Image 4" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Desert.jpg" alt="Image 5" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Desert.jpg" alt="Image 6" />
		</div>
	</div>
	<p class="food-name" id="drinksText">Drinks</p>
	<div class="food-rectangle"></div>
	<div class="image-container">
		<div class="image-wrapper">
			<img src="Images/Drink.jpg" alt="Image 1" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Drink.jpg" alt="Image 2" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Drink.jpg" alt="Image 3" />
		</div>
	</div>
	<div class="image-container">
		<div class="image-wrapper">
			<img src="Images/Drink.jpg" alt="Image 4" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Drink.jpg" alt="Image 5" />
		</div>
		<div class="image-wrapper">
			<img src="Images/Drink.jpg" alt="Image 6" />
		</div>
	</div>
</div>
<div class="container-fluidd">
	<div style="text-align: center; font-family: Zen Maru Gothic, sans-serif">
		<h2 style="font-size: 24px">Our location:</h2>
		<p style="font-size: 18px">We are here:</p>
	</div>
	<div id="map" style="height: 700px"></div>
	<script>ymaps.ready(init)</script>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script
	src="https://api-maps.yandex.ru/2.1/?apikey=ВАШ_API_КЛЮЧ&lang=en_US"
	type="text/javascript"
></script>
