@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

бургер
<img src='https://i.postimg.cc/fymhy6BV/image.png' border='0' alt='image'/>

двойнойбургер
<img src='https://i.postimg.cc/NM23C3hd/image.png' border='0' alt='image'/>

беконосыр
<img src='https://i.postimg.cc/XJ92C466/image.png' border='0' alt='image'/>

с беконом
<img src='https://i.postimg.cc/5NssvsTy/image.png' border='0' alt='image'/>

чикенбургер
<img src='https://i.postimg.cc/HLDX75Yj/image.png' border='0' alt='image'/>

чизбургер
<img src='https://i.postimg.cc/j257r4X3/image.png' border='0' alt='image'/>


классическая
<img src='https://i.postimg.cc/jd1km8X9/image.png' border='0' alt='image'/>

корейская
<img src='https://i.postimg.cc/90MJNTqC/image.png' border='0' alt='image'/>

@* @if (Model.Products != null && Model.Products.Any())
{
	@foreach (var product in Model.Products)
	{
		if (product.Category == "Shawarma")
		{
			
		}
		else if (product.Category == "Kebab")
		{
			
		}
	}
}
else
{
	<p>Food not found :(</p>
} *@
