<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="~/css/news.css" />
		<title>Новости</title>
	</head>
	<body>
		<div class="container">
			<div class="news">
				<img
					src="https://www.kfc.by/admin/files/5665.png"
					alt="Изображение новости 1"
				/>
				<h2>Новость 1: Заголовок</h2>
				<p>Краткое описание или первые несколько предложений новости...</p>
				<button
					class="read-more-btn"
					onclick="openModal('Текст полной новости 1 фывфыу аывап выап вап')"
				>Читать далее
				</button>
			</div>

			<div class="news">
				<img
					src="https://www.kfc.by/admin/files/5658.jpg"
					alt="Изображение новости 2"
				/>
				<h2>Новость 2: Заголовок</h2>
				<p>Краткое описание или первые несколько предложений новости...</p>
				<button
					class="read-more-btn"
					onclick="openModal('Текст полной новости 2')"
				>Читать далее
				</button>
			</div>
			<div class="news">
				<img
					src="https://www.kfc.by/admin/files/5658.jpg"
					alt="Изображение новости 2"
				/>
				<h2>Новость 2: Заголовок</h2>
				<p>Краткое описание или первые несколько предложений новости...</p>
				<button
					class="read-more-btn"
					onclick="openModal('Текст полной новости 2')"
				>Читать далее
				</button>
			</div>
			<div class="news">
				<img
					src="https://www.kfc.by/admin/files/5658.jpg"
					alt="Изображение новости 2"
				/>
				<h2>Новость 2: Заголовок</h2>
				<p>Краткое описание или первые несколько предложений новости...</p>
				<button
					class="read-more-btn"
					onclick="openModal('Текст полной новости 2')"
				>Читать далее
				</button>
			</div>
			<div class="news">
				<img
					src="https://www.kfc.by/admin/files/5658.jpg"
					alt="Изображение новости 2"
				/>
				<h2>Новость 2: Заголовок</h2>
				<p>Краткое описание или первые несколько предложений новости...</p>
				<button
					class="read-more-btn"
					onclick="openModal('Текст полной новости 2')"
				>Читать далее
				</button>
			</div>
			<div class="news">
				<img
					src="https://www.kfc.by/admin/files/5658.jpg"
					alt="Изображение новости 2"
				/>
				<h2>Новость 2: Заголовок</h2>
				<p>Краткое описание или первые несколько предложений новости...</p>
				<button
					class="read-more-btn"
					onclick="openModal('Текст полной новости 2')"
				>Читать далее
				</button>
			</div>
		</div>
		<div id="myModal" class="modal">
			<div class="modal-content">
				<span class="close" onclick="closeModal()">&times;</span>
				<p id="modalText"></p>
			</div>
		</div>
		<script>
			function openModal(text) {
				document.getElementById('modalText').innerHTML = text
				document.getElementById('myModal').style.display = 'block'
			}
			function closeModal() {
				document.getElementById('myModal').style.display = 'none'
			}
			window.onclick = function (event) {
				var modal = document.getElementById('myModal')
				if (event.target == modal) {
					modal.style.display = 'none'
				}
			}
		</script>
	</body>
</html>
