<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Клубника</title>
		<link rel="stylesheet" href="main.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="container">
			<div class="additional-page">
				<h2>Политика конфиденциальности</h2>
				<p>
					В этом сайте одним из наших главных приоритетов является
					конфиденциальность посетителей. Этот документ Политики
					конфиденциальности содержит типы информации, собираемой и записываемой
					сайтом, и способы ее использования.
				</p>
				<p>
					Если у вас есть дополнительные вопросы или вам нужна дополнительная
					информация о нашей Политике конфиденциальности, не стесняйтесь
					обращаться к нам.
				</p>
				<p>
					Настоящая Политика конфиденциальности применяется только к нашей
					деятельности в Интернете и действительна для посетителей нашего
					веб-сайта в отношении информации, которой они поделились и / или
					собрали в этом сайте. Эта политика не применима к любой информации,
					собираемой в автономном режиме или по другим каналам, кроме этого
					веб-сайта.
				</p>
				<h2>Согласие</h2>
				<p>
					Используя наш веб-сайт, вы тем самым соглашаетесь с нашей Политикой
					конфиденциальности и соглашаетесь с ее условиями.
				</p>
				<h2>Информация, которую мы собираем</h2>
				<p>
					Личная информация, которую вас просят предоставить, и причины, по
					которым вас просят предоставить ее, будут ясны вам в тот момент, когда
					мы просим вас предоставить вашу личную информацию.
				</p>
				<p>
					Если вы обратитесь к нам напрямую, мы можем получить дополнительную
					информацию о вас, такую ​​как ваше имя, адрес электронной почты, номер
					телефона, содержание сообщения и / или вложения, которые вы можете нам
					отправить, а также любую другую информацию, которую вы можете
					предоставить. .
				</p>
				<p>
					Когда вы регистрируете учетную запись, мы можем запросить вашу
					контактную информацию, включая такие элементы, как имя, название
					компании, адрес, адрес электронной почты и номер телефона.
				</p>
				<h2>Как мы используем вашу информацию</h2>
				<p>
					Мы используем информацию, которую собираем, различными способами, в
					том числе для:
				</p>
				<ul>
					<li>Предоставлять, эксплуатировать и поддерживать наш веб-сайт.</li>
					<li>Улучшайте, персонализируйте и расширяйте наш веб-сайт.</li>
					<li>Поймите и проанализируйте, как вы используете наш веб-сайт.</li>
					<li>Разрабатывать новые продукты, услуги, функции и возможности.</li>
					<li>
						Общаться с вами напрямую или через одного из наших партнеров, в том
						числе для обслуживания клиентов, чтобы предоставлять вам обновления
						и другую информацию, относящуюся к веб-сайту, а также в
						маркетинговых и рекламных целях.
					</li>
					<li>Отправлять вам электронные письма</li>
					<li>Найдите и предотвратите мошенничество.</li>
				</ul>
				<h2>Файлы журнала</h2>
				<p>
					Сайт следует стандартной процедуре использования файлов журнала. Эти
					файлы регистрируют посетителей, когда они посещают веб-сайты. Все
					хостинговые компании делают это и часть аналитики хостинговых услуг.
					Информация, собираемая файлами журналов, включает адреса
					интернет-протокола (IP), тип браузера, поставщика интернет-услуг
					(ISP), отметку даты и времени, страницы перехода / выхода и, возможно,
					количество кликов. Они не связаны с какой-либо информацией,
					позволяющей установить личность. Целью информации является анализ
					тенденций, администрирование сайта, отслеживание движения
					пользователей на сайте и сбор демографической информации. Наша
					Политика конфиденциальности была создана с помощью
					<a href="https://www.privacypolicygenerator.info">
						генератора политик конфиденциальности
					</a>
					и
					<a
						href="https://www.privacypolicyonline.com/ privacy-policy-generator / ">
						Генератор политики конфиденциальности в Интернете </a>.
				</p>

				<h2>Политика конфиденциальности рекламных партнеров</h2>

				<p>
					В этом списке вы можете найти Политику конфиденциальности для каждого
					из рекламных партнеров сайта.
				</p>
				<p>
					Сторонние рекламные серверы или рекламные сети используют такие
					технологии, как файлы cookie, JavaScript или веб-маяки, которые
					используются в их соответствующих рекламных объявлениях и ссылках,
					которые появляются в этом сайте и отправляются непосредственно в
					браузер пользователей. Когда это происходит, они автоматически
					получают ваш IP-адрес. Эти технологии используются для измерения
					эффективности их рекламных кампаний и / или для персонализации
					рекламного контента, который вы видите на посещаемых вами веб-сайтах.
				</p>
				<p>
					Обратите внимание, что этом сайте не имеет доступа к этим файлам
					cookie, которые используются сторонними рекламодателями, и не
					контролирует их.
				</p>
				<h2>Политика конфиденциальности третьих лиц</h2>
				<p>
					Политика конфиденциальности сайта не распространяется на других
					рекламодателей или веб-сайты. Таким образом, мы советуем вам
					ознакомиться с соответствующими Политиками конфиденциальности этих
					сторонних рекламных серверов для получения более подробной информации.
					Он может включать их методы и инструкции о том, как отказаться от
					определенных вариантов.
				</p>
				<p>
					Вы можете отключить файлы cookie в настройках вашего браузера. Чтобы
					узнать более подробную информацию об управлении файлами cookie в
					определенных веб-браузерах, ее можно найти на соответствующих
					веб-сайтах браузеров.
				</p>
				<h2>
					Права на конфиденциальность CCPA (не продавать мою личную информацию)
				</h2>
				<p>
					В соответствии с CCPA, среди прочих прав, потребители Калифорнии имеют
					право:
				</p>
				<p>
					Требовать от компании, собирающей персональные данные потребителей,
					раскрытия категорий и конкретных частей персональных данных, которые
					компания собрала о потребителях.
				</p>
				<p>
					Запросить у компании удаление всех собранных ею личных данных о
					потребителе.
				</p>
				<p>
					Требовать, чтобы компания, продающая личные данные потребителя, не
					продавала личные данные потребителя.
				</p>
				<p>
					Если вы сделаете запрос, у нас будет один месяц, чтобы ответить вам.
					Если вы хотите воспользоваться любым из этих прав, свяжитесь с нами.
				</p>
				<h2>Права на защиту данных GDPR</h2>
				<p>
					Мы хотели бы убедиться, что вы полностью осведомлены обо всех своих
					правах на защиту данных. Каждый пользователь имеет право на следующее:
				</p>
				<p>
					Право на доступ - вы имеете право запрашивать копии ваших личных
					данных. Мы можем взимать небольшую плату за эту услугу.
				</p>
				<p>
					Право на исправление. Вы имеете право потребовать, чтобы мы исправили
					любую информацию, которую вы считаете неточной. Вы также имеете право
					потребовать, чтобы мы завершили информацию, которую вы считаете
					неполной.
				</p>
				<p>
					Право на удаление - вы имеете право потребовать, чтобы мы удалили ваши
					личные данные при определенных условиях.
				</p>
				<p>
					Право на ограничение обработки - вы имеете право потребовать, чтобы мы
					ограничили обработку ваших персональных данных при определенных
					условиях.
				</p>
				<p>
					Право возражать против обработки - вы имеете право возражать против
					обработки нами ваших личных данных при определенных условиях.
				</p>
				<p>
					Право на переносимость данных. Вы имеете право потребовать, чтобы мы
					передали собранные нами данные другой организации или непосредственно
					вам при определенных условиях.
				</p>
				<p>
					Если вы сделаете запрос, у нас будет один месяц, чтобы ответить вам.
					Если вы хотите воспользоваться любым из этих прав, свяжитесь с нами.
				</p>
				<h2>Информация для детей</h2>
				<p>
					Еще одна часть нашей приоритетной задачи - защита детей при
					использовании Интернета. Мы призываем родителей и опекунов наблюдать,
					участвовать и / или отслеживать и направлять их действия в Интернете.
				</p>
				<p>
					Сайт сознательно не собирает личную информацию, позволяющую установить
					личность детей в возрасте до 13 лет. Если вы считаете, что ваш ребенок
					предоставил такую ​​информацию на нашем веб-сайте, мы настоятельно
					рекомендуем вам немедленно связаться с нами, и мы обязательно делаем
					все возможное, чтобы незамедлительно удалить такую ​​информацию из
					наших записей.
				</p>
			</div>
		</div>
	</body>
</html>
