<link rel="stylesheet" href="~/css/reviews.css" asp-append-version="true" />
<div class="koguvcavis-varazdel">
	<div class="sestim-donials">
		<h1>Отзывы</h1>
		<div class="sectionesag"></div>
		<div class="sagestim-lonials">
			<div class="vemotau-vokusipol">
				<div class="testimonial">
					<img src="http://zornet.ru/_fr/83/7890600.jpg" alt="" />
					<div class="gecedanam">Антон Попов</div>
					<div class="apogered-gselected">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<p>Здесь первое описание. Продолжение.</p>
				</div>
			</div>
			<div class="vemotau-vokusipol">
				<div class="testimonial">
					<img src="http://zornet.ru/_fr/83/2047084.jpg" alt="" />
					<div class="gecedanam">Дмитрий Атрохов</div>
					<div class="apogered-gselected">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>
					<p>Второй отзыв. Его продолжение.</p>
				</div>
			</div>
			<div class="vemotau-vokusipol">
				<div class="testimonial">
					<img src="http://zornet.ru/_fr/83/5640570.jpg" alt="" />
					<div class="gecedanam">Каспер Волков</div>
					<div class="apogered-gselected">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
					</div>
					<p>Третье описание. На отзыв.</p>
				</div>
			</div>
			<div class="vemotau-vokusipol">
				<div class="testimonial">
					<img src="http://zornet.ru/_fr/83/5640570.jpg" alt="" />
					<div class="gecedanam">Каспер Волков</div>
					<div class="apogered-gselected">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
					</div>
					<p>Третье описание. На отзыв.</p>
				</div>
			</div>
		</div>
	</div>
</div>
