@page
@model MyApp.Namespace.ReviewsModel
@{

}

<!DOCTYPE html>
<html>

<head>
  <title>Отзывы</title>
  <link rel="stylesheet"
    href="file:///C:/Users/User/Desktop/zalupa/MVC-Web-App/MVCWebApp/Views/Reviews/Reviews.cshtml.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <style>
    /* Ваши стили */
    h1 {
      text-align: center;
    }

    .star-rating i {
      font-size: 24px;
      cursor: pointer;
      transition: color 0.25s;
    }

    .star-rating i:hover,
    .star-rating i.checked {
      color: gold;
    }
  </style>
</head>

<body>
  <div class="koguvcavis-varazdel">
    <div class="sestim-donials">
      <h1>Отзывы </h1>
      <div class="sagestim-lonials" id="reviews">
        <!-- Отзыв 1 -->
        <div class='vemotau-vokusipol'>
          <div class='testimonial'>
            <table>
              <tr>
                <td><img src='http://zornet.ru/_fr/83/7890600.jpg' alt='' class='testimonial-image'></td>
                <td style='vertical-align: top;'>
                  <div class='info' style='vertical-align: top;font-family: Zothic, sans-serif; font-size: 18pt;'>
                    <div class='gecedanam'>Антон Попов</div>
                    <div class='apogered-gselected'>
                      <i class='fas fa-star'></i>
                      <i class='fas fa-star'></i>
                      <i class='fas fa-star'></i>
                      <i class='fas fa-star'></i>
                      <i class='fas fa-star'></i>
                    </div>
                    <p style='font-family: Zothic, sans-serif; font-size: 18pt;'>Здесь первое описание. Продолжение.</p>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <!-- Отзыв 2 -->
        <div class='vemotau-vokusipol'>
          <div class='testimonial'>
            <table>
              <tr>
                <td><img src='http://zornet.ru/_fr/83/7890600.jpg' alt='' class='testimonial-image'></td>
                <td style='vertical-align: top;'>
                  <div class='info' style='vertical-align: top;font-family: Zothic, sans-serif; font-size: 18pt;'>
                    <div class='gecedanam'>Мария Иванова</div>
                    <div class='apogered-gselected'>
                      <i class='fas fa-star'></i>
                      <i class='fas fa-star'></i>
                      <i class='fas fa-star'></i>
                    </div>
                    <p style='font-family: Zothic, sans-serif; font-size: 18pt;'>Отличное место для быстрого перекуса!
                    </p>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="sagestim-lonials" id="reviews">
      <!-- Отзывы пользователей будут здесь -->
    </div>
  </div>

  <!-- Форма для нового отзыва -->
  <div class="vemotau-vokusipol">
    <h2>Оставьте свой отзыв</h2>
    <div class="star-rating">
      <i class="fas fa-star" onclick="setRating(1)"></i>
      <i class="fas fa-star" onclick="setRating(2)"></i>
      <i class="fas fa-star" onclick="setRating(3)"></i>
      <i class="fas fa-star" onclick="setRating(4)"></i>
      <i class="fas fa-star" onclick="setRating(5)"></i>
    </div>
    <form id="userReviewForm">
      <label for="userReviewName">Имя:</label><br>
      <input type="text" id="userReviewName" name="userReviewName"><br>

      <label for="userReviewText">Отзыв:</label><br>
      <textarea id="userReviewText" name="userReviewText" rows="4" cols="50"></textarea><br>

      <input type="submit" value="Отправить">
    </form>
  </div>
  </div>
  <script>
    function setRating(stars) {
      const starIcons = document.querySelectorAll('.star-rating i');
      starIcons.forEach((icon, index) => {
        if (index < stars) {
          icon.classList.add('checked');
        } else {
          icon.classList.remove('checked');
        }
      });
    }

    document.getElementById("userReviewForm").addEventListener("submit", function (event) {
      event.preventDefault(); // Предотвращаем отправку формы по умолчанию

      const userName = document.getElementById("userReviewName").value;
      const userReviewText = document.getElementById("userReviewText").value;

      const rating = document.querySelectorAll('.star-rating i.checked').length;

      // Создаем новый блок с отзывом и добавляем его на страницу
      const newReview = document.createElement("div");
      newReview.innerHTML = `<div class='vemotau-vokusipol'>
                                        <div class='testimonial'>
                                            <table>
                                                <tr>
                                                    <td><img src='http://zornet.ru/_fr/83/7890600.jpg' alt='' class='testimonial-image'></td>
                                                    <td style='vertical-align: top;'>
                                                        <div class='info' style='vertical-align: top;font-family: Zothic, sans-serif; font-size: 18pt;'>
                                                            <div class='gecedanam'>${userName}</div>
                                                            <div class='apogered-gselected'>${Array(rating).fill('<i class="fas fa-star"></i>').join('')}</div>
                                                            <p style='font-family: Zothic, sans-serif; font-size: 18pt;'>${userReviewText}</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>`;

      // Вставляем новый отзыв после формы
      const reviewsContainer = document.getElementById("reviews");
      reviewsContainer.appendChild(newReview);

      // Очищаем поля формы после отправки отзыва
      document.getElementById("userReviewName").value = "";
      document.getElementById("userReviewText").value = "";

      // Сбрасываем выбор звезд
      const starIcons = document.querySelectorAll('.star-rating i');
      starIcons.forEach((icon) => {
        icon.classList.remove('checked');
      });
    });
  </script>
</body>

</html>
