<link rel="stylesheet" href="~/css/Reviews.css" />
<div class="reviews">
	<h1 class="reviews-title">Reviews</h1>
	<div class="line"></div>
	<div class="reviews-items-wrapper">
		<div class="review-item">
			<div class="review-item-text">
				<img class="review-item-img" src="http://zornet.ru/_fr/83/7890600.jpg" alt="" />
				<div class="review-item-text-product">Burger Joint:</div>
			</div>
			<p>ЗThe burgers at this place are absolutely amazing! Juicy, flavorful, and cooked to perfection. The
				variety of toppings and sauces allow you to customize your burger just the way you like it. The ambiance
				is great, making it a perfect spot for burger lovers.</p>
		</div>
		<div class="review-item">
			<div class="review-item-text">
				<img class="review-item-img" src="http://zornet.ru/_fr/83/2047084.jpg" alt="" />
				<div class="review-item-text-product">Shawarma Spot:</div>
			</div>
			<p>I tried the shawarma here, and it was a delightful experience. The meat was tender and well-seasoned, and
				the pita bread was soft and warm. The selection of veggies and sauces complemented the shawarma
				perfectly. A tasty and satisfying option for a quick and delicious meal.</p>
		</div>
		<div class="review-item">
			<div class="review-item-text">
				<img class="review-item-img" src="http://zornet.ru/_fr/83/5640570.jpg" alt="" />
				<div class="review-item-text-product">Beer Haven:</div>
			</div>
			<p>If you're a beer enthusiast, this place is a must-visit. The beer selection is diverse, with both local
				and international options. The atmosphere is laid-back, making it a great spot to unwind with friends.
				The staff is knowledgeable about the different brews available, adding to the overall experience.</p>
		</div>
		<div class="review-item">
			<div class="review-item-text">
				<img class="review-item-img" src="http://zornet.ru/_fr/83/5640570.jpg" alt="" />
				<div class="review-item-text-product">Vegan Shawarma Delight:</div>
			</div>
			<p>As a vegan, finding good options can be challenging, but this place exceeded my expectations. The vegan
				shawarma was flavorful and had a satisfying texture. The variety of plant-based ingredients used in the
				wrap made it a delicious and guilt-free choice. Definitely recommend for anyone looking for tasty vegan
				options.</p>
		</div>
	</div>
</div>
