@{
}
<link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
<div class="container">
<div class="left-panel">
    <div class="tabs">
    <button id="profileButton" class="button-panel ">Profile</button>
    <button id="confidentialityButton" class="button-panel">Confidentiality</button>
    <button id="orderHistoryButton" class="button-panel active">Order History</button>
    </div>
</div>
<script src="~/js/Profile.js"></script>