<!DOCTYPE html>
<html lang="en">

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid test-style">
            <svg width="98" height="68" viewBox="0 0 98 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_269_68)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M88.8951 59.6531H8.92507C6.20479 59.6531 4 57.8819 4 55.6965V51.6358C4 49.4504 6.20479 47.6792 8.92507 47.6792H88.8951C91.6154 47.6792 93.8202 49.4504 93.8202 51.6358V55.6965C93.8202 57.8819 91.6154 59.6531 88.8951 59.6531Z"
                        fill="#212121" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M84.9319 34.918H12.888C10.1693 34.918 7.96289 33.1468 7.96289 30.9614V30.3877C7.96289 28.2024 10.1693 26.4312 12.888 26.4312H84.9319C87.6522 26.4312 89.857 28.2024 89.857 30.3877V30.9614C89.857 33.1468 87.6522 34.918 84.9319 34.918Z"
                        fill="#8E5847" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M89.1775 28.5954H8.6427C6.07838 28.5954 4 26.9258 4 24.8657C4 11.1325 17.8575 0 34.9524 0H62.8677C79.9627 0 93.8202 11.1325 93.8202 24.8657C93.8202 26.9258 91.7418 28.5954 89.1775 28.5954Z"
                        fill="#212121" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M84.9319 47.6792H12.888C10.1693 47.6792 7.96289 45.908 7.96289 43.7227V43.1489C7.96289 40.9649 10.1693 39.1924 12.888 39.1924H84.9319C87.6522 39.1924 89.857 40.9649 89.857 43.1489V43.7227C89.857 45.908 87.6522 47.6792 84.9319 47.6792Z"
                        fill="#8E5847" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M33.5737 34.2073C33.5737 35.6316 30.1902 36.787 26.0154 36.787C21.8406 36.787 18.457 35.6316 18.457 34.2073C18.457 32.7842 21.8406 31.6289 26.0154 31.6289C30.1902 31.6289 33.5737 32.7842 33.5737 34.2073Z"
                        fill="#79D86A" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M48.6909 34.2073C48.6909 35.6316 45.3074 36.787 41.1326 36.787C36.9577 36.787 33.5742 35.6316 33.5742 34.2073C33.5742 32.7842 36.9577 31.6289 41.1326 31.6289C45.3074 31.6289 48.6909 32.7842 48.6909 34.2073Z"
                        fill="#79D86A" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M63.8097 34.2073C63.8097 35.6316 60.4246 36.787 56.2514 36.787C52.0766 36.787 48.6914 35.6316 48.6914 34.2073C48.6914 32.7842 52.0766 31.6289 56.2514 31.6289C60.4246 31.6289 63.8097 32.7842 63.8097 34.2073Z"
                        fill="#79D86A" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M78.9253 34.2073C78.9253 35.6316 75.5418 36.787 71.3669 36.787C67.1921 36.787 63.8086 35.6316 63.8086 34.2073C63.8086 32.7842 67.1921 31.6289 71.3669 31.6289C75.5418 31.6289 78.9253 32.7842 78.9253 34.2073Z"
                        fill="#79D86A" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M30.5725 34.814C30.5725 33.8552 26.5158 33.0784 21.512 33.0784C16.5081 33.0784 12.4531 33.8552 12.4531 34.814C12.4531 35.7728 16.5081 36.5509 21.512 36.5509C26.5158 36.5509 30.5725 35.7728 30.5725 34.814Z"
                        fill="#F93723" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M48.6916 34.814C48.6916 33.8552 44.6366 33.0784 39.6328 33.0784C34.6289 33.0784 30.5723 33.8552 30.5723 34.814C30.5723 35.7728 34.6289 36.5509 39.6328 36.5509C44.6366 36.5509 48.6916 35.7728 48.6916 34.814Z"
                        fill="#F93723" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M66.8124 34.814C66.8124 33.8552 62.7558 33.0784 57.7519 33.0784C52.748 33.0784 48.6914 33.8552 48.6914 34.814C48.6914 35.7728 52.748 36.5509 57.7519 36.5509C62.7558 36.5509 66.8124 35.7728 66.8124 34.814Z"
                        fill="#F93723" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M84.9318 34.814C84.9318 33.8552 80.8752 33.0784 75.8714 33.0784C70.8675 33.0784 66.8125 33.8552 66.8125 34.814C66.8125 35.7728 70.8675 36.5509 75.8714 36.5509C80.8752 36.5509 84.9318 35.7728 84.9318 34.814Z"
                        fill="#F93723" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M89.8978 39.1924H73.8125L70.9297 43.3929C70.2615 44.0141 69.0548 43.9983 68.4129 43.36L65.8535 39.1924H7.92321C6.4539 39.1924 5.26367 38.2362 5.26367 37.0572V37.0545C5.26367 35.8741 6.4539 34.918 7.92321 34.918H89.8978C91.3654 34.918 92.5573 35.8741 92.5573 37.0545V37.0572C92.5573 38.2362 91.3654 39.1924 89.8978 39.1924Z"
                        fill="#FFD600" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M39.6546 1.87256C38.86 1.87256 38.2148 2.39087 38.2148 3.0292C38.2148 3.66752 38.86 4.18583 39.6546 4.18583C40.4492 4.18583 41.0927 3.66752 41.0927 3.0292C41.0927 2.39087 40.4492 1.87256 39.6546 1.87256Z"
                        fill="#F2DAAE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M49.3287 9.64697C48.5342 9.64697 47.8906 10.1653 47.8906 10.8036C47.8906 11.4419 48.5342 11.9589 49.3287 11.9589C50.1233 11.9589 50.7685 11.4419 50.7685 10.8036C50.7685 10.1653 50.1233 9.64697 49.3287 9.64697Z"
                        fill="#F2DAAE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M26.735 3.96045C25.9404 3.96045 25.2969 4.47876 25.2969 5.11709C25.2969 5.75541 25.9404 6.27372 26.735 6.27372C27.5312 6.27372 28.1748 5.75541 28.1748 5.11709C28.1748 4.47876 27.5312 3.96045 26.735 3.96045Z"
                        fill="#F2DAAE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M17.3948 11.2019C16.6003 11.2019 15.9551 11.7189 15.9551 12.3572C15.9551 12.9955 16.6003 13.5139 17.3948 13.5139C18.1894 13.5139 18.833 12.9955 18.833 12.3572C18.833 11.7189 18.1894 11.2019 17.3948 11.2019Z"
                        fill="#F2DAAE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M58.0397 4.20483C57.2451 4.20483 56.6016 4.72314 56.6016 5.36147C56.6016 5.9998 57.2451 6.51811 58.0397 6.51811C58.8359 6.51811 59.4794 5.9998 59.4794 5.36147C59.4794 4.72314 58.8359 4.20483 58.0397 4.20483Z"
                        fill="#F2DAAE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M58.0397 14.3115C57.2451 14.3115 56.6016 14.8298 56.6016 15.4682C56.6016 16.1065 57.2451 16.6248 58.0397 16.6248C58.8359 16.6248 59.4794 16.1065 59.4794 15.4682C59.4794 14.8298 58.8359 14.3115 58.0397 14.3115Z"
                        fill="#F2DAAE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M69.651 19.7537C68.8564 19.7537 68.2129 20.272 68.2129 20.9103C68.2129 21.5486 68.8564 22.0669 69.651 22.0669C70.4472 22.0669 71.0908 21.5486 71.0908 20.9103C71.0908 20.272 70.4472 19.7537 69.651 19.7537Z"
                        fill="#F2DAAE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M34.8131 11.2019C34.0185 11.2019 33.375 11.7202 33.375 12.3585C33.375 12.9969 34.0185 13.5152 34.8131 13.5152C35.6093 13.5152 36.2529 12.9969 36.2529 12.3585C36.2529 11.7202 35.6093 11.2019 34.8131 11.2019Z"
                        fill="#F2DAAE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M42.5553 18.9761C41.7607 18.9761 41.1172 19.4944 41.1172 20.1327C41.1172 20.771 41.7607 21.2893 42.5553 21.2893C43.3515 21.2893 43.9951 20.771 43.9951 20.1327C43.9951 19.4944 43.3515 18.9761 42.5553 18.9761Z"
                        fill="#F2DAAE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M20.2991 20.531C19.5046 20.531 18.8594 21.0493 18.8594 21.6876C18.8594 22.326 19.5046 22.843 20.2991 22.843C21.0937 22.843 21.7389 22.326 21.7389 21.6876C21.7389 21.0493 21.0937 20.531 20.2991 20.531Z"
                        fill="#F2DAAE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M84.1702 16.6438C83.3757 16.6438 82.7305 17.1621 82.7305 17.8004C82.7305 18.4388 83.3757 18.9571 84.1702 18.9571C84.9648 18.9571 85.6084 18.4388 85.6084 17.8004C85.6084 17.1621 84.9648 16.6438 84.1702 16.6438Z"
                        fill="#F0D9AE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M71.0843 3.96045C70.2897 3.96045 69.6445 4.47876 69.6445 5.11709C69.6445 5.75541 70.2897 6.27372 71.0843 6.27372C71.8789 6.27372 72.5224 5.75541 72.5224 5.11709C72.5224 4.47876 71.8789 3.96045 71.0843 3.96045Z"
                        fill="#F0D9AE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M79.3304 12.7566C78.5358 12.7566 77.8906 13.2736 77.8906 13.9119C77.8906 14.5502 78.5358 15.0685 79.3304 15.0685C80.125 15.0685 80.7685 14.5502 80.7685 13.9119C80.7685 13.2736 80.125 12.7566 79.3304 12.7566Z"
                        fill="#F0D9AE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M70.6195 12.7566C69.8249 12.7566 69.1797 13.2736 69.1797 13.9119C69.1797 14.5502 69.8249 15.0685 70.6195 15.0685C71.414 15.0685 72.0576 14.5502 72.0576 13.9119C72.0576 13.2736 71.414 12.7566 70.6195 12.7566Z"
                        fill="#F0D9AE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M55.137 19.7537C54.3425 19.7537 53.6973 20.2707 53.6973 20.909C53.6973 21.5473 54.3425 22.0656 55.137 22.0656C55.9316 22.0656 56.5752 21.5473 56.5752 20.909C56.5752 20.2707 55.9316 19.7537 55.137 19.7537Z"
                        fill="#F0D9AE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M29.9749 16.6438C29.1803 16.6438 28.5352 17.1608 28.5352 17.7991C28.5352 18.4374 29.1803 18.9558 29.9749 18.9558C30.7695 18.9558 31.413 18.4374 31.413 17.7991C31.413 17.1608 30.7695 16.6438 29.9749 16.6438Z"
                        fill="#F0D9AE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M34.8148 5.50415C34.0202 5.50415 33.375 6.02114 33.375 6.65947C33.375 7.29779 34.0202 7.8161 34.8148 7.8161C35.6093 7.8161 36.2529 7.29779 36.2529 6.65947C36.2529 6.02114 35.6093 5.50415 34.8148 5.50415Z"
                        fill="#F0D9AE" />
                </g>
                <defs>
                    <filter id="filter0_d_269_68" x="0" y="0" width="97.8203" height="67.6531"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_269_68" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_269_68" result="shape" />
                    </filter>
                </defs>
            </svg>

            <a class="logo-text" asp-area="" asp-controller="Home" asp-action="Index">YumYum Now</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon my-button"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                            asp-action="Discounts">Discounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="News">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Reviews">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                            asp-action="About Us">AboutUs</a>
                    <li class="nav-itemm">
                        <a class="nav-link text-dark" href="#" onclick="scrollToElement('map')">Map</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
    </nav>
</header>

<body>
    @RenderBody()
</html>
