<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/news.css" />
  </head>

  <body>
    <header>
      <div class="site-navigation main-header">
        <div class="logo">
          <img src="~/Images/Logo.svg" alt="Burger Image" class="header-logo" />
          <div class="logo-header-text">
            <label class="company-text" for="logoName">YumYum Now</label>
            <label class="tagline" for="logoName">SAVOR THE FLAVOR!</label>
          </div>
        </div>

        <nav class="map-login-header-nav">
          <div class="nav-links-wrapper">
            <img
              src="~/Images/Location.svg"
              alt="Location Image"
              class="icon"
            />
            <a
              class="nav-link text-dark border-none"
              href="#"
              onclick="scrollToElement('map')"
              >Map
            </a>
          </div>
          <div class="nav-links-wrapper">
            <img src="~/Images/User.svg" alt="User Image" class="icon" />
            <a
              class="nav-link text-dark border-none"
              asp-area=""
              asp-controller="Auth"
              asp-action="Login"
              >Login
            </a>
          </div>
        </nav>
      </div>
    </header>

    <div class="site-navigation sticky-header-nav">
      <div class="nav-links-wrapper">
        <a
          class="nav-link text-dark"
          asp-area=""
          asp-controller="Home"
          asp-action="Index"
          >Home
        </a>
        @*
        <a
          class="nav-link text-dark"
          asp-area=""
          asp-controller="Home"
          asp-action="Discounts"
          >Discounts
        </a>
        *@
        <a
          class="nav-link text-dark"
          asp-area=""
          asp-controller="Home"
          asp-action="News"
          >News
        </a>
        <a
          class="nav-link text-dark"
          asp-area=""
          asp-controller="Home"
          asp-action="Reviews"
          >Reviews
        </a>
        <a
          class="nav-link text-dark"
          asp-area=""
          asp-controller="Home"
          asp-action="AboutUs"
          >About Us
        </a>
      </div>
      <div class="nav-links-wrapper">
        <img src="~/Images/Cart.svg" alt="Cart Image" class="icon" />
        <a
          class="nav-link text-dark border-none"
          asp-area=""
          asp-controller="Cart"
          asp-action=""
          >Cart
        </a>
      </div>
    </div>

    @*
    <div class="test-content">asdasdasdasd</div>
    <!--Это тестовый контент, не удалять, нужен для тестов-->
    *@

    <div class="container">
      <main role="main" class="pb-3">@RenderBody()</main>
    </div>
    <footer>
      <div class="main-footer">
        <nav class="footer-nav site-navigation">
          <a href="" class="footer-nav-link nav-link">Corporate ethics</a>
          <a href="" class="footer-nav-link nav-link">FAQ</a>
          <a href="" class="footer-nav-link nav-link">Information for guests</a>
          <a href="" class="footer-nav-link nav-link">Contacts</a>
        </nav>
        <div class="contacts-links site-navigation">
          <span class="contact-text contact-item">Social: </span>
          <div class="contact-item">
            <a href="https://www.instagram.com/?hl=ru">
              <img
                src="~/Images/InstLogo.svg"
                alt="Instagram logo"
                class="icon contact-icon"
              />
            </a>
          </div>
          <div class="contact-item">
            <a href="https://www.tiktok.com/en">
              <img
                src="~/Images/TikTokLogo.svg"
                alt="TikTok logo"
                class="icon contact-icon"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="copyrighting-text-wrapper">
        <a
          class="copyrighting-link"
          asp-area=""
          asp-controller="Home"
          asp-action="TermsUse"
          >Terms of use
        </a>
        <div class="copyrighting-text">
          <p class="copyrighting-text">
            Copyright PopokBuisness © 2023. All rights reserved.
          </p>
          <p class="copyrighting-text">Support: YumYumNow@hotmail.com</p>
        </div>
        <a
          class="copyrighting-link"
          asp-area=""
          asp-controller="Home"
          asp-action="PrivacyPolicy"
          >Privacy policy
        </a>
      </div>
    </footer>
  </body>
</html>
