@{

}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<head>
    <link rel="stylesheet" href="file:///C:/Users/User/Desktop/zalupa/MVC-Web-App/MVCWebApp/Views/Reviews/Reviews.cshtml.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<div class="koguvcavis-varazdel">
  <div class="sestim-donials">
  <h1>Отзывы</h1>
  <div class="sectionesag"></div>
  <div class="sagestim-lonials">
  <div class="vemotau-vokusipol">
  <div class="testimonial">
  <img src="http://zornet.ru/_fr/83/7890600.jpg" alt="">
  <div class="gecedanam">Антон Попов</div>
  <div class="apogered-gselected">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  </div>

  <p>Здесь первое описание. Продолжение.</p>
  </div>
  </div>