body,
html {
  margin: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.user-info {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.username .input-field {
  color: #000000;
  font-family: Lemon, sans-serif;
  font-size: 27px;
}
.username
{
    color: #000000;
    font-family: Lemon, sans-serif;
    font-size: 27px;

}
.nickname
{
    color: #000000;
    font-family: Lemon, sans-serif;
    font-size: 27px;
}
.logout-btn:hover {
  background-color: #e60000;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Расстояние между кнопками */
    margin-top: 20px; /* Верхний отступ для контейнера с кнопками */
  }
  
  .apply-btn,
  .toggle-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .apply-btn {
    background-color: #000000;
    color: white;
  }
  
  .toggle-btn {
    background-color: #FFA500;
    color: white;
  }
  
  .apply-btn:hover,
  .toggle-btn:hover {
    filter: brightness(1.2); /* Эффект при наведении */
  }
  .input-field {
    width: 200px; /* Задаем фиксированную ширину для полей ввода */
  }
