@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Zen+Maru+Gothic:wght@300&display=swap");

.background-panel {
  padding: 16px;
  width: 80vw; /* Use a percentage for responsiveness */
  margin-left: 10%;
  max-width: 36vw; /* Set a max-width for larger screens */
  height: 80vh;
  background-color: rgba(9, 9, 9, 0.5);
  z-index: -1;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.label-text,
.background-image,
.registration-text,
.custom-input,
.custom-button,
.error-message,
.password-input-container,
.login-container,
.company-text {
  width: 100%;
  box-sizing: border-box;
  margin-left: 2%;
  margin-right: 2%;
}

.background-image {
  width: 12vw;
  height: 14vh;
  z-index: 0;
  margin-left: 0.7vw;
  margin-top: 5vh;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.8vh;
  align-self: center;
}

.label-text {
  color: #fff;
  font-size: 1.5vw;
  margin-bottom: 5px;
  margin-left: 5vw;
  margin-top: 1vw;
}

.registration-text {
  font-size: 1.2vw;
  margin-bottom: 0.4vh;
  color: #fff;
  margin-left: 4.2vw;
}

.custom-input {
  width: 28vw;
  padding: 8px;
  box-sizing: border-box;
  background-color: #ffa300;
  border: none;
  border-radius: 25px;
  margin-left: 4vw;
  margin-right: 4vw;
  height: 6vh;
  border-color: #000;
}

.custom-button {
  position: relative;
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: var(--base-text-weight-medium, 500);
  line-height: 35px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid;
  border-radius: 25px;
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  text-align: center;
  margin: 16px auto 0;
  margin-top: 16px;
  font-family: 'Zen Maru Gothic', serif;
  background-color: #ffa300;
  border-color: var(--button-primary-borderColor-rest, var(--color-btn-primary-border));
  box-shadow: var(--shadow-resting-small, var(--color-btn-primary-shadow)),var(--shadow-highlight, var(--color-btn-primary-inset-shadow));
}

.custom-button:hover {
  background-color: #101820;
  color: #fff;
}

.error-message {
  font-size: 1vw;
  position: relative;
  display: block;
  margin-top: -0.5vh;
  margin-left: 4vw;
}

.password-input-container {
  position: relative;
}

.login-container {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-text {
  position: absolute;
  bottom: 0;
  color: #101820;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Lemon", serif;
  font-size: 3.5vw;
  flex-shrink: 0;
  top: 20vh;
  height: 3vh;
}
