.news-wrapper {
	padding: 50px 150px;
	color: #101820;
	font-family: Quicksand;
	font-size: 16px;
	text-align: center;
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	row-gap: 50px;
	column-gap: 15px;
}

.new {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 0 0 20px 0;
}

.new-text {
	display: block;
	padding: 0 20px;
}

.new-img {
	width: 100%;
	border-radius: 10px 10px 0 0;
	box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.read-more-btn {
	height: 38px;
	margin: 15px 0;
	font-family: Quicksand;
	font-weight: 800;
	line-height: 35px;
	cursor: pointer;
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	width: 200px;
	font-size: 16px;
	background-color: #ffa300;
	transition: 0.2s;
}

.read-more-btn:hover {
	background-color: #101820;
	border: 1px solid white;
	box-shadow: 0 0 10px rgb(255, 255, 255);
	color: #fff;
	transition: 0.2s;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
	background-color: #fefefe;
	padding: 50px;
	border-radius: 10px;
	width: 80%;
	font-family: Quicksand;
	max-width: 600px;
}

.open-news-img {
	width: 200px;
	border-radius: 10px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
