
  .koguvcavis-varazdel {
    padding: 38px 0;
    background: #ffa300be;
    color: #2f2f2f;
    text-align: center;
  }

  .sestim-donials {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }

  .sectionesag {
    width: 195px;
    height: 3px;
    background: #498a2d;
    margin: 23px auto;
  }

  .sagestim-lonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .vemotau-vokusipol {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }

  .testimonial {
    background: #f9f4f4;
    padding: 28px;
  }

  .testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .gecedanam {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }

  .apogered-gselected {
    color: #53b32b;
    margin-bottom: 20px;
  }
  