@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

* {
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #101820;
}

header,
footer,
.test-content,
.sticky-header-nav {
	padding: 0 150px;
	background-color: #ffa300;
}

.logo {
	display: flex;
}

.header-logo {
	display: block;
}

.logo-header-text {
	margin-left: 15px;
	display: flex;
	flex-direction: column;
}

.company-text {
	display: block;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: "Lemon", serif;
	font-size: 28px;
	color: #101820;
}

.tagline {
	display: block;
	font-family: "Sriracha", cursive;
	font-size: 14px;
	color: #101820;
}

.map-login-header-nav {
	display: flex;
	justify-content: space-between;
}

.icon {
	height: 30px;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 160px;
	padding: 20px 150px;
	background-color: #212121;
	color: #ffffff;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-links-wrapper {
	display: flex;
	align-items: center;
}

.main-header {
	height: 80px;
}

.sticky-header-nav {
	height: 40px;
	position: sticky;
	top: 0;
	box-shadow:
		0 -7px 10px -10px rgba(0, 0, 0, 0.5),
		0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.test-content {
	height: 2000px;
	background-color: rgb(230, 224, 224);
	padding: 0 150px;
	display: flex;
	flex-direction: column;
}

.nav-link {
	display: flex;
	width: 100px;
	height: 40px;
	justify-content: center;
	align-items: center;
	color: #101820;
	font-family: Quicksand;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;

	/* border: 1px solid black; */
}

.nav-link:hover {
	background-color: #ffffff2e;
	font-size: 17px;
	color: rgb(242, 242, 242);
	border-bottom: 1px solid black;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}

.border-none {
	margin: 0 10px;
	border: none;
	color: #101820;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.contacts-links {
	width: 300px;
	display: flex;
	justify-content: space-between;
}

.footer-nav-link {
	display: flex;
	align-items: center;
	text-align: center;
	width: 100px;
	padding: 10px;
	color: rgb(242, 242, 242);
}

.footer-nav-link:hover {
	border-bottom: 1px solid rgb(242, 242, 242);
	background-color: #ffffff10;
}

.contact-text {
	display: block;
	padding-right: 40px;
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25);
	font-family: "Lemon", serif;
	font-size: 20px;
	font-weight: 300;
	color: rgb(242, 242, 242);
}

.copyrighting-text-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.copyrighting-text,
.copyrighting-link {
	margin: 5px;
	display: block;
	font-family: Quicksand;
	text-align: center;
	font-size: 14px;
	color: white;
	font-weight: 300;
}

.copyrighting-link:hover,
.copyrighting-link:active {
	color: rgba(255, 255, 255, 0.841);
}

.contact-icon {
	padding-right: 40px;
}

.contact-icon:hover {
	height: 35px;
}
